/*racine du doc HTML, pour définir les variables CSS*/
:root{
    background-color: #313333;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size: 62,5%;
    font-family: roboto, "sans-serif", cursive;
}

h1{
    font-size: 5.4rem;
    color: #fff;
    margin-bottom: 5rem;
}

.container{
    width: 100wv;
    height: 100vh;
    display: flex;
    justify-content: center;/*axe horizontal*/
    align-items: center; /*axe vertical*/
    max-width: 80rem; /*80 fois la taille de la police de la racine*/
    margin: 0 auto;
    padding: 2rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-align: center;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;/*invisibilité de l'élément et sans réservation d'espace*/
}

.btn{
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem 0;
    width: 20rem;
    text-align: center;
    border-radius:10px;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28,26,26);
    }

.btn:hover{
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.20); /*grossissement*/
}

.btn[disabled]:hover{ /* cible tous les éléments avec la classe "btn" et l'attribut "disabled" défini.*/
    cursor: not-allowed;/* lorsque l'utilisateur survole un bouton désactivé*/
    transform: none;
}

#play{
    background: linear-gradient(90deg, rgb(18,92,255)0%, rgb(20, 73, 153)100% );
   
}

#highscrores__btn{
    background: linear-gradient(90deg, rgb(121, 118, 35) 0%, rgb(215, 195, 62));
  
}