/*racine du doc HTML, pour définir les variables CSS*/
:root{
    background-color: #313333;
    color: #fff;
    font-size: 14px;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}
body{
    width: 100vw;
    height: 100vh;
}

h1{
    font-size: 3rem;
    margin-bottom: 3rem;
}
 p{
    font-size: 1.5rem;
    font-style: italic;
    text-justify: auto;
    line-height: 2rem;
    margin-bottom: 1rem;
    
 }
.presentation{
    border: thick double #32a1ce;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius:10px;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;/*axe horizontal*/
    align-items: center; /*axe vertical*/
    max-width: 80rem; /*80 fois la taille de la police de la racine*/
    margin: 0 auto;
    padding: 1rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;/*invisibilité de l'élément et sans réservation d'espace*/
}

.btn{
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 0;
    width: 20rem;
    text-align: center;
    border-radius:10px;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28,26,26);
    }

.btn:hover{
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.20); /*grossissement*/
}

.btn[disabled]:hover{ 
    cursor: not-allowed;/* lorsque l'utilisateur survole un bouton désactivé*/
    transform: none;
}

#play {
    background: linear-gradient(90deg, rgb(18,92,255)0%, rgb(20, 73, 153)100% );
}

#game_btn {
    background: linear-gradient(90deg, rgb(18,92,255)0%, rgb(20, 73, 153)100% );

}
#end_btn {
    background: linear-gradient(90deg, rgb(121, 118, 35) 0%, rgb(215, 195, 62));
}

#home_btn{
    background: linear-gradient(90deg, rgb(121, 118, 35) 0%, rgb(215, 195, 62));

}
#exemple{
    width: 30rem;
    height: 8rem;
}

@media screen  and (max-width: 780px){
    .choice-container{
        min-width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   .presentation{
    max-width: 90%;
   
   }
   img {
    width: 80%;
    height: auto;
}

}