*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    color: #fff;
    display: flex;
    flex-direction: column;
}

#question{
    margin-top: 2rem;
    margin-bottom: 2rem ;
    font-size: 3rem;
    width: 100%;
    color:gold;
}
.choice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.9rem ;
    width: 100%;
    border-radius: 25px;
    border: 3px solid  rgb(3, 25, 73);
    background: rgb(8, 53, 151);
    font-size: 2rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.5rem rgba(6, 103, 247, 0.5);
    transform: scale(1.02) translate(100ms);
}

.choice-prefix {
    padding: 1rem 2rem;
}

.choice-text {
    padding: 1rem 2rem;
    width: 100%;
}

.correct {
    background:  rgba(11,223,36);
}

.incorrect {
    background:  rgb(124, 18, 18);
}

/*affichage en haut*/
#game{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 5rem;
    margin: 1rem;
    font-size: 2rem;
}

.hud-prefix{
    
    margin : 0 auto;
}

.hud-item{
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
    font-size: 2rem;
}
.hud-main-text{
    margin: 1rem;
}


#progressBar {
    width: 5rem;
    /*overflow: hidden;*/
    direction: rtl;
}

#progressBarFull {
    height: 2rem;
    background:rgb(11,223,36);
    max-width: 50rem;
    border: 1px solid black;
    border-radius: 50px;
}

@media screen  and (max-width: 780px){
    .choice-container{
        min-width: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #game{
        display: flex;
        flex-direction: column;
        margin: 3rem;
        width: 100%;
        height: 30%;
    }
    .hud-prefix{
        font-size: 1.5rem;
        margin : 0 auto;
    }
    
    .hud-item{
        display: flex;
        flex-direction: row;
        width: 40%;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
   
}
